#app {
    background-color: #e2e1e2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compare {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    width: 950px;
    max-width: 950px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 40px;


    & > div {
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 22px 0;
            border-bottom: 1px solid #e9e9e9;

            &:last-child {
                border-bottom: none;
            }
        }

        img {
            max-width: 220px;
            place-self: center;
        }

        &:nth-child(2) {
            background: linear-gradient(180deg, #6B97BE, #151D38);
            box-shadow: 10px 10px 20px #00000027;
            border-radius: 15px;
            color: #fff;
            margin: -25px 0;
            padding: 25px 0;
            
            span {
                border-bottom-color: #66666635;
                text-align: center;
            }
        }

        &:nth-child(3) {
            span {
                text-align: center;
            }
        }
    }
}