.step_folding {
    background-color: #F7F8FA;
    padding: 10vh 0 10vh;
    .centeral-content {
        display: grid;
        grid-template-columns: 2fr 4fr;
        overflow: hidden;

        & > div:not(.swiper) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 3;


            .u17Light_v2 {
                margin: 5vh 0;
                opacity: 0.78;
            }

            .progress {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 10px;

                & > div {
                    background-color: #ddd;
                    height: 5px;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;

                    &::after {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 10%;
                        background-color:#FFC400;
                        border-radius: 5px;
                        transition: width .6s linear;
                    }


                    &:last-child {
                        opacity: 0;
                    }
                }

                .active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        .swiper {
            width: 100%;
            max-width: 100%;
            // margin: 0 -150px;
            // transform: translateX(150px);

            .swiper-wrapper {
                overflow: hidden;
                cursor: grab;

                img {
                    scale: 1.25;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 10vw 0;

        .centeral-content {
            padding: 0;
            grid-template-columns: 1fr;
            text-align: center;

            .u48Medium_v2 {
                font-size: 30px;
            }


            .u17Light_v2 {
                font-size: 15px;
            }


            & > div:not(.swiper) {
                margin-bottom: 6vw;

                .progress {
                    grid-template-columns: 1fr 1fr;
                    margin: 0 10vw;
                }
            }
        }
    }
}



.ultimate {
    color: #fff;
    position: relative;

    .swiper-wrapper {

        .swiper-slide {
            background: #000 center center/cover no-repeat;
            height: 750px;
        }


        .a {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_930f61ad-c4bd-4d20-98d4-1a684dba6079.jpg?v=1729501350');
        }

        .b {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_942ebeae-a8b6-42d9-bc61-9912092c87f7.jpg?v=1729501355');
        }

        .c {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_eadf509c-1b3a-4996-89c2-db3224193d08.jpg?v=1729501361');
        }
    }


    & > div:not(.swiper-wrapper) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        margin-left: 55%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        padding: 15vh 0;
        

        .u17Light_v2 {
            max-width: 500px;
            opacity: 0.8;
            margin: 3vh 0 6vh;
        }

        .icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 5%;

            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 200px;

                img {
                    height: 90px;
                    max-height: 90px;
                    width: auto;
                    display: none;
                    margin-bottom: 10px;
                }

                .b {
                    display: block;
                }


                div {
                    background-color: #fff;
                    width: 90%;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    height: 0;
                    transition: none;
                    

                    &::after {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 5%;
                        background-color:#FFC400;
                        border-radius: 5px;
                        transition: width 1.88s linear;
                    }
                }

                .xxxxx {
                    opacity: 0.8;
                        
                        height: 0;
                        overflow: hidden;
                }
            }


            .active {
                div {
                    margin: 10px 0;
                    height: 5px;
                    transition: all .4s ease-out;

                    &::after {
                        width: 100%;
                    }
                }


                .xxxxx {
                    height: auto;
                    transition: all .4s ease-out;
                }


                .a {
                    display: block;
                }

                .b {
                    display: none;
                }
            }
        }
    }


    @media (max-width: 767px) {
        .swiper-wrapper {

            .swiper-slide {
                height: 92vw;
                
                background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_d577b007-2a27-4a4d-bab5-e3aaad6386e5.jpg?v=1729508081');
            }
        }

        & > div:not(.swiper-wrapper) {
            margin: 0;
            padding: 0 8vw 8vw;
            top: unset;

            .u36Medium_v2 {
                display: none;
            }

            .icons {
                grid-template-columns: 1fr;
                position: relative;

                & > div {
                    align-items: flex-start;
                    text-align: left;

                    & > div,
                    .u14Medium_v2 {
                        display: none;
                    }
                }


                .active {
                    .u14Medium_v2 {
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }


            .swiper-pagination {
                padding: 0 8vw;
                text-align: left;
                bottom: 15px;

                .swiper-pagination-bullet {
                    width: 60px;
                    border-radius: 3px;
                    height: 3px;
                    transition: all .3s linear;
                    background-color: #aaa;
                }

                .swiper-pagination-bullet-active {
                    background-color: #FFDF48;
                }
            }
        }
    }
}